.navbar-bg-success {
    background-color: #688C4E !important;
}

.btn-warning {
    background-color: #F2D33C !important;
}

.btn-warning:hover {
    background-color: rgb(212, 187, 57) !important;
}